@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0;}

a {
	text-decoration: none;
	color: white;
}

body {
	margin: 0;
	/* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: 'TmoneyRoundWindRegular';
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	color: #000;
	background-color: #050317;
	background-image: url('/images/background.png');
}

@media (min-width: 576px) {
	.wrap {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.wrap {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.wrap {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.wrap {
		max-width: 1140px;
	}
}